/* ===== Main Section ===== */
.contact-wrapper {
  display: flex;
  justify-content: center;
  gap: 40px;
  padding: 60px 80px;
  background: #f5f7fb;
}

.contact-page {
  width: 100%;
  font-family: "Poppins", sans-serif;
}

/* ===== Card Common Style ===== */
.contact-card {
  flex: 1;
  background: #ffffff;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
}

/* ===== Left Side ===== */
.contact-small-heading {
  font-size: 14px;
  font-weight: 600;
  color: #6b7c93;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

.contact-main-heading {
  font-size: 24px;
  color: #008cdb;
  margin-bottom: 15px;
  font-size: 16pt;
  text-transform: uppercase;
}

.contact-description {
  color: #555;
  line-height: 1.6;
  margin-bottom: 30px;
  text-align: justify;
}

/* ===== Info Section ===== */
.contact-info-row {
  margin-bottom: 25px;
}

.contact-info-title {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 8px;
}

.contact-info-icon {
  color: #00639c;
  font-size: 18px;
}

.contact-info-heading {
  margin: 0;
  color: #00639c;
  font-weight: 600;
  text-transform: uppercase;
}

.contact-info-row p {
  margin: 2px 0;
  color: #555;
}

/* ===== Social Icons ===== */
.contact-social-icons {
  display: flex;
  gap: 15px;
  margin-top: 15px;
  align-items: center;
}

.contact-social-circle {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 18px;
  text-decoration: none;
}

/* Individual Social Colors */
.contact-instagram {
  background: #008cdb;
}

.contact-linkedin {
  background-color: #008cdb;
}

.contact-twitter {
  background-color: #008cdb;
}

/* ===== Right Side Form ===== */
.contact-form-heading {
  margin-bottom: 25px;
  color: #008cdb;
  text-transform: uppercase;
  font-size: 16pt;
}

.contact-form-group {
  margin-bottom: 18px;
}

.contact-form-group label {
  display: block;
  font-weight: 600;
  margin-bottom: 6px;
  color: #333;
  text-transform: uppercase;
  font-size: 12pt;
}

.contact-form-group span {
  color: red;
}

.contact-form-group input,
.contact-form-group textarea {
  width: 100%;
  padding: 13px;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 14px;
  transition: 0.3s;
  outline: none;
  font-family: "Poppins", sans-serif;

}

.contact-form-group input:focus,
.contact-form-group textarea:focus {
  border-color: #008cdb;
}

/* ===== Button ===== */
.contact-send-btn {
  margin-top: 10px;
  background: #008cdb;
  color: white;
  border: none;
  padding: 12px 25px;
  border-radius: 6px;
  font-size: 15px;
  cursor: pointer;
  transition: 0.3s;
}

.contact-send-btn:hover {
  opacity: 0.9;
}

/* ===== Responsive ===== */
@media (max-width: 900px) {
  .contact-wrapper {
    flex-direction: column;
    padding: 30px;
  }
}